<form action="/newPin/" method="post">
    <h1>Make a new pin!</h1><br>
    <label>Pin Quote: </label><br>
    <input id="quote" name="quote" type="text" ><br>
    <label>Image URL:</label><br>
    <input id="image" name="image" type="text" ><br>
    <input type="submit" value="Create Pin"><br>
</form>